<% provide(:title, "Home")%>
<h1>Library App</h1>
<p>
  This is the contact page of the Library app <br/>
  To contact us:<br/>
  Email: Example@gmail.com<br/>
  Contact Number: 98767565644
</p>